#header{
    text-align: center;
    background-color: red;
    font-size: 30px;
}
#menu {
    width: 75%;
    margin-left: 12.5%;
    padding: 7.5px;

}
#menu > item {
 border: 2px solid black;  
 padding: 2px;
 border-radius: 10px; 
 cursor: pointer;
}

#.galery-image>span
